{
    margin: 0;
    padding: 0;
}

/* faire disparaître la scrollbar */
::-webkit-scrollbar {
    display: none;
}
html {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

body{
    overflow-x: hidden; 
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Ubuntu:ital,wght@0,300;1,400&display=swap');

/* ************body navbar**************** */

.navbar {
    width: 100vw;
    background-color: black;
    min-height: 30px;
    /* height: 100px; */
}

h1{
    font-family: 'Kalam', sans-serif;
    font-size: 3.3em;
    color:darkorange;
    text-align: center;
    padding-bottom: 20px;
}

p{
    font-family: 'Kalam', sans-serif;
    font-size: 2em;
    color:darkorange;
    text-align: left;
    padding: 20px;
}
/* .flotte {
    float:left;
    }*/
a{
    float: right;
}

/* * ************boby main**************** */

.conteneur{
    /* background-color: darkgrey; */
    
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding-top: 30px; */
    /* padding-bottom: 40px; */
    padding: 30px 30px 40px 30px;
}

/*remplacer gris par décor grain café?? */
.decorcaf{
    background-image: url(/imagesCafe/DecorGrainCafe6.jpeg);
    opacity: 85%;
}
.decorcaf img{
    object-fit: cover;
}

.article{

    min-height: 600px;
    background-color: darkorange;
    display: flex;
    flex-direction: column;
    /* padding-top: 25px; */
    margin: 20px 15px 20px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-color: black;
    border-width: 10px;
}

h3{
    font-style: italic;
    float: bottom;
    color: rgb(238, 231, 222);
    text-shadow: 1px 1px black;
}

/* dimensionner les photos à la taille de la classe article */
.article img{
    object-fit: cover;
    /* border: black; */

}
/* arrière plan grain de café dans article
.decorCafe{
    background-image: url(/imagesCafe/DecorGrainCafe6.jpeg);
    /* opacity: 60%; */
/* } */

.image{
    width: 500px;
    height: 350px;
}

button{
    width: 250px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(238, 231, 222);
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 4px;
    border-color: rgba(129, 98, 14, 0.171);
}

button:hover{
    background-color: rgb(240, 197, 136);
    color: rgb(124, 104, 77);
    /* opacity: 50%; */
    cursor: pointer;
    transition: 0.5 ease-in-out;
}

/* ***************body footer**************** */

.footer{
    width: 100vw;
    background-color: black;
}



